@charset "UTF-8";
@import '../base/base';


div.ux-scrollbar {
	margin: 0;
	padding: 0;
	border: none;
	background-color: rgba(0, 148, 255,0.3);
	width:12px;

	div.ux-scrollbar-thumb {
		@extend div.ux-scrollbar;
		background-color: rgba(79, 109, 252, 0.8);
		width:12px;
		border-radius:6px;
	}
}
