@{
	ViewBag.Title = "Home Page";
}
@*<div class="left-panel" id="left-panel"></div>
<div class="right-panel" id="right-panel">*@
<div style="padding-left:15px; border:none; position:fixed" id="canvas"></div>	
<div style="position:fixed; top:15px; left:600px; height:500px; width:200px">
	<div style="padding-bottom:5px" id="coords">x=, y=</div>
	<div style="padding:5px" id="view1"></div>
	<div style="padding:5px" id="view2"></div>
	<div style="padding:5px" id="view3"></div>
	<div style="padding:5px" id="view4"></div>
</div>
@*</div>*@


@*<div style="background-image:url(../Content/check.svg);  fill:red; color:blue; width:128px; height:128px;"  />*@

@*<div>FA</div>
	<i class="fa fa-glass fa-4x"></i> fa-lg*@