@{
    ViewBag.Title = "Home Page";
}

@*<svg width="100" height="100">
	<circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
</svg>

<svg width="400" height="110">
	<rect width="300" height="100" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">		
</svg>*@

<div style="vertical-align:bottom; margin:5px; padding:5px">
	<img src="~/Content/check.svg" width="16px" height="16px"><img src="~/Content/check.svg" width="32px" height="32px"></img> <img src="~/Content/check.svg" width="64px" height="64px"></img>
</div>
@*	<div style="background-image:url('~/Content/check.svg'); width:32px; height:32px; color:red; background-color:red;"  />*@

@*<i class="fa fa-glass fa-large"></i> fa-lg*@